<div class="ROCOBulletin">
	
<p><a class="ROCOBulletin2 OLSKDecorPress OLSKDecorPressCall OLSKDecorInput" href="https://rosano.ca/ephemerata"><%= OLSKLocalized('ROCOBulletinSubmitButtonText') %></a></p>

<style>
.ROCOBulletin2 {
  padding: 5px !important;
  
  display: none;
}
</style>

<script defer src="https://unpkg.com/@tryghost/portal@1.12.7/umd/portal.min.js" data-ghost="https://list.rosano.ca"></script>

<form class="ROCOBulletinHybrid OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank" data-members-form>

<p>
	<input class="ROCOBulletinHybridAddressField" type="email" name="email" required="true" placeholder="you@example.com" data-members-email />
</p>

<!-- ghost -->
<input class="ROCOBulletinHybridProjectFieldGhost" type="hidden" name="labels" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" data-members-label />

<!-- buttondown -->
<input class="ROCOBulletinHybridProjectFieldButtondown" type="hidden" name="tag" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" />
<input type="hidden" value="1" name="embed" />

<p>
	<input class="ROCOBulletinHybridSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('ROCOBulletinSubmitButtonText') %>" />
  <strong class="ROCOBulletinHybridFeedback"><%= OLSKLocalized('ROCOBulletinFeedbackText') %></strong>
</p>

</form>

<style>
.ROCOBulletinHybrid .ROCOBulletinHybridFeedback {
  display: none;
}

.ROCOBulletinHybrid.success input {
  display: none !important;
}

.ROCOBulletinHybrid.success .ROCOBulletinHybridFeedback {
  display: unset !important;
}
</style>

</div>
