<div class="ROCOBulletin">
	
<p><a class="ROCOBulletin2 OLSKDecorPress OLSKDecorPressCall OLSKDecorInput" href="https://rosano.ca/ephemerata"><%= OLSKLocalized('ROCOBulletinSubmitButtonText') %></a></p>

<style>
.ROCOBulletin2 {
  padding: 5px !important;
  
  display: none;
}
</style>

<script defer src="https://unpkg.com/@tryghost/portal@1.12.7/umd/portal.min.js" data-ghost="https://list.rosano.ca"></script>

<form class="ROCOBulletinScript OLSKDecorBigForm" data-members-form>

<p>
	<input class="ROCOBulletinScriptAddressField" type="email" name="email" required="true" placeholder="you@example.com" data-members-email />
</p>

<input class="ROCOBulletinScriptProjectField" type="hidden" name="labels" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" data-members-label />

<p>
	<input class="ROCOBulletinScriptSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('ROCOBulletinSubmitButtonText') %>" />
  <strong class="ROCOBulletinScriptFeedback"><%= OLSKLocalized('ROCOBulletinFeedbackText') %></strong>
</p>

</form>

<style>
.ROCOBulletinScript .ROCOBulletinScriptFeedback {
  display: none;
}

.ROCOBulletinScript.success input {
  display: none !important;
}

.ROCOBulletinScript.success .ROCOBulletinScriptFeedback {
  display: unset !important;
}
</style>

<noscript>

<form class="ROCOBulletinNoscript OLSKDecorBigForm" method="post" action="https://buttondown.email/api/emails/embed-subscribe/rosano" target="_blank">

<p>
	<input class="ROCOBulletinNoscriptAddressField" type="email" name="email" placeholder="you@example.com" />
</p>

<input class="ROCOBulletinNoscriptProjectField" type="hidden" name="tag" value="<%= locals.ROCOBulletinProject || 'RP_X' %>" />
<input type="hidden" value="1" name="embed" />

<p>
	<input class="ROCOBulletinNoscriptSubmitButton OLSKDecorPressCall" type="submit" value="<%= OLSKLocalized('ROCOBulletinSubmitButtonText') %>" />
</p>

</form>

</noscript>

</div>
